.card-content-coment{
    
    padding: 1rem 1rem;
    background-color: var(--color-bg-variant)!important;
    
    
    margin: 0 auto;
    border-radius: 1.2rem!important;
}
.carosel{
scroll-behavior: smooth!important;
overflow-x: auto!important;
}
.card-content-coment .resp-iner{
      font-size: 20px;
    flex-direction: row!important;
    align-items: center;
    text-align: center;
}
.items-wrapper{
  display: grid;
}
.items {
  display: flex;
  scroll-behavior: smooth!important;
  overflow-x: auto!important;
  scroll-snap-align: start;
}
.items div{
  flex: none;
   width: 100%;
   text-align: center;
}

.items  span{
  font-size: 30px;
  margin-bottom: 10px;
}
.items  p {
  font-size: 20px;
}
.letftButton{
  position: absolute;
  left: 0;
  cursor: pointer;
}
.rightButton{
  position: absolute;
  right: 0;
  cursor: pointer;
}
.items-wrapper{
  position: relative;
}


.formulario-content{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.formulario-content form .formGroup,.formErro{
  margin-bottom: 20px;

} 
